

header {
    display: flex;
    margin-top: auto;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background-color: rgb(88, 240, 88);
}

.cake {
    text-decoration: line-through;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    display: flex;
    margin-top: auto;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    
}

.pancake-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px 20px 20px;
    flex-basis: 25%;
}


.pancake-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    background-color: rgb(170, 170, 240);
    margin-bottom: 10px;
    text-align: center;
    flex-basis: 25%;
  }



