
/*

body {
    background-color: aquamarine;

}

h1 {
    text-align: center;
    color: goldenrod;
}


img {
    border-radius: 5px 5px 0 0;
    width: 250px;
  }

  aside {
    padding-left: .5rem;
    margin-left: .5rem;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    float: right;
}
.fish card {
  margin: 20px 20px 20px 20px;
}
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    display: flex;
    margin-top: auto;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background-color: crimson;
    
}